/input/
/rmq
/rmq-java/build/
/rmq-go/rmq-go
/rmq-kotlin/rmq-kotlin.jar
/rmq-haskell/rmq-haskell
/rmq-haskell/*.hi
/rmq-haskell/*.o
/rmq-csharp/*.exe
venv
.vscode
lipics-v2021.cls
report.aux
report.fdb_latexmk
report.fls
report.log
report.out
report.synctex.gz
report.vtc
.DS_Store